<footer class="footer">
	<small>
		<a href="http://railstutorial.org/">Rails Tutorial</a>
	</small>
	<nav>
		<ul>
			<il><%= link_to "About",    about_path %></il>
			<il><%= link_to "Contact",  contact_path %></il>
			<il><a href="http://news.railstutorial.org/">News</a></il>
		</ul>
	</nav>
</footer>
